<html lang='pt-br'>
  <head>
    <meta charset='utf-8' />
    <title>Produtos</title>
  </head>
  <body>
    <h1>Produtos</h1>
    <% for(i=0;i<products.length; i++){ %>
      <p><%=products[i].name %></p>
    <%}%>
  </body>
</html>