<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>Sua idade</title>
</head>
<body >
  <main class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
      <h1 class="display-2">404</h1>
      <h3 class="display-4">Não achamos essa página</h3>
      
      <br/>
      <a href="/" >Click aqui para ir para a página inicial</a>
    </div>
  </main>
</body>
</html>