<html>
  <body>
    <script>
      function redirect1(){
        document.location.href ='http://localhost:3001/products';
      }
      function redirect2(){
        document.location.href ='http://localhost:3001/front';
      }
    </script>
    <button onClick="redirect1()">Products</button>
  </body>
</html>